body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    padding-top: 56px !important;
    /*padding-bottom: 40px;*/
}

.width-10 {
    width: 10em !important;
}

/********************avatar********************/

.avatar-wrapper {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: all .3s ease;
}

.avatar-wrapper:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/********************avatar********************/
