body {
  font-family: source-sans-pro, sans-serif;
  font-size: 15px;
  padding-top: 56px !important;
}

.width-10 {
  width: 10em !important;
}

/* 内容最小高度设置 */
#notFound ,#routeView {
  min-height: calc(100vh - 126px);
  display: flex;
  flex-direction: column;
}

.nav-item > a:hover {
  color: #000 !important;
  background: #fff;
  border-radius: 5%;
}

/********************avatar********************/

/* 最小的头像的基本设置 */
.avatar-small {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 10px -5px black;
  transition: all 0.3s ease;
}

/* 普通头像的基本设置 */
.avatar-wrapper {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 10px -5px black;
  transition: all 0.3s ease;
}

/* 普通头像的基本设置 */
.avatar-wrapper-big {
  height: 180px;
  width: 180px;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 1px 1px 10px -5px black;
  transition: all 0.3s ease;
}

/* 上传头像的基本设置 */
.avatar-upload {
  position: absolute;
  top: 3px;
  margin: 5px auto 2px 130px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 3px 3px 18px -5px black;
  transition: all 0.3s ease;
}

/* 鼠标在头像区域停留，放大 */
.avatar-small:hover, .avatar-wrapper:hover, .avatar-upload:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.avatar-upload:hover .profile-pic {
  opacity: 0.4;
}

.avatar-upload .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.avatar-upload .profile-pic:after {
  content: '';
  background: transparent url('/img/default.png') no-repeat;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  left: 0;
  position: absolute;
}

.avatar-upload .upload-button .bi-arrow-up-circle-fill {
  position: absolute;
  font-size: 70px;
  top: -29px;
  left: 0px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #52775b;
}

.avatar-upload .upload-button:hover .bi-arrow-up-circle-fill {
  opacity: 0.6;
}

/********************avatar********************/

/* 频道激活 */
.list-group-item.active {
  z-index: 2;
  background-color: #719fb0;
  border-color: #537791;
}

.post-item {
  box-shadow: 2px 2px 7px -5px black;
}

.reply-container {
  margin: 10px auto 5px auto;
  width: 100vh;
  box-shadow: 0 1px 3px #b1b4b1;
  background-color: #fafafb;
}

.reply {
  width: 85vh;
  margin: 0px auto 0px auto;
  border-top: 1px solid #dde2dd;
}

.sticky-on-top {
  position: sticky;
  top: 70px;
  z-index: 2;
}

.msg {
  position: relative;
  float:left;
}

.alarm {
  position: absolute;
  color: white;
  font-size: 6px;
  background-color: red;
  min-height: 12px;
  min-width: 19px;
  line-height: 12px;
  left: 28px;
  top: 0px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding:2px;
  border: solid #03506f 2px;
}